.headerLand{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 64px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.headerLand .items{
    display: flex;
    width: fit-content;
    align-items: center;
    height: 100%;
}
.headerLand .items > img{
    height: 60%;
    width: auto; /* Automatically adjust the width to maintain the aspect ratio */
    object-fit: cover; 
}
.headerLand .items> h3{
    margin-left: 10px;
}
.headerLand .items > #navbtn{
    height: 38px;
    background-color: #a611d3;
    font-weight: bold;
    color: aliceblue;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
/* signup css */

